/* @import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap'); */

body {
  font-family: 'Roboto', sans-serif;
}

.font-h5 {
  font-weight: bold;
  text-transform: uppercase;
}

ul li {
  /* 10px -> 0.8rem */
  padding-right: 0.8rem;
}

.form-link-manual {
  color: #212121;
  font-weight: bold;
  transition: 0.3s;
}

.form-link-manual:hover {
  /* 1.3 -> 1.1 */
  transform: scale(1.1);
}